In [120]:
import numpy as np 
import pandas as pd 
import statsmodels.api as sm 
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [121]:
df_train = pd.read_csv('housing_train.csv')
df_train.info()

FileNotFoundError: [Errno 2] File b'housing_train.csv' does not exist: b'housing_train.csv'

In [122]:
df_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-117.83,34.15,20.0,2421.0,306.0,1023.0,298.0,8.0683,451500.0,INLAND
1,-119.85,36.77,27.0,1510.0,344.0,847.0,295.0,2.9315,83200.0,INLAND
2,-122.13,37.67,40.0,1748.0,318.0,914.0,317.0,3.8676,184000.0,NEAR BAY
3,-119.81,34.46,22.0,3488.0,452.0,1479.0,458.0,7.1687,384400.0,NEAR OCEAN
4,-120.47,34.65,32.0,2193.0,430.0,1074.0,377.0,2.3333,130200.0,NEAR OCEAN

In [123]:
df_test = pd.read_csv('housing_test.csv')
df_test.info()

FileNotFoundError: [Errno 2] File b'housing_test.csv' does not exist: b'housing_test.csv'

In [124]:
df_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.41,37.65,32.0,3436.0,868.0,2583.0,817.0,3.5039,232400.0,NEAR OCEAN
1,-117.91,33.84,25.0,1021.0,252.0,975.0,258.0,3.1250,168100.0,<1H OCEAN
2,-118.35,34.08,52.0,1801.0,313.0,714.0,293.0,4.6838,479000.0,<1H OCEAN
3,-121.02,37.61,33.0,1469.0,370.0,1318.0,349.0,1.7104,59000.0,INLAND
4,-117.65,34.10,30.0,1461.0,341.0,1014.0,345.0,2.4667,106000.0,INLAND

In [125]:
df_dev = pd.read_csv('housing_dev.csv')
df_dev.info()

FileNotFoundError: [Errno 2] File b'housing_dev.csv' does not exist: b'housing_dev.csv'

In [126]:
df_dev.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.36,33.92,26.0,3695.0,1144.0,2308.0,1009.0,2.6667,229300.0,<1H OCEAN
1,-118.41,34.19,45.0,1106.0,225.0,595.0,228.0,3.6625,190700.0,<1H OCEAN
2,-122.48,37.73,38.0,3195.0,828.0,2410.0,778.0,3.1359,350000.0,NEAR OCEAN
3,-117.18,32.76,8.0,3694.0,997.0,1297.0,807.0,3.6492,158900.0,NEAR OCEAN
4,-117.15,33.14,15.0,1070.0,208.0,470.0,217.0,2.3062,158900.0,<1H OCEAN

In [127]:
train_X = df_train.drop("median_house_value", axis = 1)
train_X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-117.83,34.15,20.0,2421.0,306.0,1023.0,298.0,8.0683,INLAND
1,-119.85,36.77,27.0,1510.0,344.0,847.0,295.0,2.9315,INLAND
2,-122.13,37.67,40.0,1748.0,318.0,914.0,317.0,3.8676,NEAR BAY
3,-119.81,34.46,22.0,3488.0,452.0,1479.0,458.0,7.1687,NEAR OCEAN
4,-120.47,34.65,32.0,2193.0,430.0,1074.0,377.0,2.3333,NEAR OCEAN
...,...,...,...,...,...,...,...,...,...
14442,-118.73,34.27,23.0,4550.0,762.0,2301.0,744.0,4.5560,<1H OCEAN
14443,-117.11,32.77,50.0,1729.0,355.0,617.0,337.0,3.6705,NEAR OCEAN
14444,-121.73,36.93,29.0,2931.0,535.0,1954.0,506.0,3.2917,<1H OCEAN
14445,-117.25,32.83,17.0,2075.0,262.0,704.0,241.0,10.9529,NEAR OCEAN
14446,-118.37,33.87,13.0,2907.0,726.0,1573.0,694.0,3.5048,<1H OCEAN

In [128]:
train_Y = df_train["median_house_value"].copy()
train_Y

0        451500.0
1         83200.0
2        184000.0
3        384400.0
4        130200.0
           ...
14442    205300.0
14443    167000.0
14444    224700.0
14445    500001.0
14446    294000.0
Name: median_house_value, Length: 14447, dtype: float64

In [129]:
dev_X = df_dev.drop("median_house_value", axis = 1)
dev_X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-118.36,33.92,26.0,3695.0,1144.0,2308.0,1009.0,2.6667,<1H OCEAN
1,-118.41,34.19,45.0,1106.0,225.0,595.0,228.0,3.6625,<1H OCEAN
2,-122.48,37.73,38.0,3195.0,828.0,2410.0,778.0,3.1359,NEAR OCEAN
3,-117.18,32.76,8.0,3694.0,997.0,1297.0,807.0,3.6492,NEAR OCEAN
4,-117.15,33.14,15.0,1070.0,208.0,470.0,217.0,2.3062,<1H OCEAN
...,...,...,...,...,...,...,...,...,...
2060,-122.02,38.37,16.0,2495.0,331.0,1118.0,338.0,6.4894,INLAND
2061,-117.04,32.97,13.0,6711.0,1256.0,3683.0,1220.0,4.5746,<1H OCEAN
2062,-120.69,35.62,43.0,3044.0,652.0,1456.0,608.0,2.4567,<1H OCEAN
2063,-118.39,34.19,36.0,904.0,191.0,627.0,191.0,2.4167,<1H OCEAN
2064,-118.04,34.09,34.0,2597.0,461.0,1542.0,470.0,4.6211,INLAND

In [130]:
dev_Y = df_dev["median_house_value"].copy()
dev_Y

0       229300.0
1       190700.0
2       350000.0
3       158900.0
4       158900.0
          ...
2060    198000.0
2061    175700.0
2062    140000.0
2063    192900.0
2064    248900.0
Name: median_house_value, Length: 2065, dtype: float64

In [131]:
test_X = df_test.drop("median_house_value", axis = 1)
test_X

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.41,37.65,32.0,3436.0,868.0,2583.0,817.0,3.5039,NEAR OCEAN
1,-117.91,33.84,25.0,1021.0,252.0,975.0,258.0,3.1250,<1H OCEAN
2,-118.35,34.08,52.0,1801.0,313.0,714.0,293.0,4.6838,<1H OCEAN
3,-121.02,37.61,33.0,1469.0,370.0,1318.0,349.0,1.7104,INLAND
4,-117.65,34.10,30.0,1461.0,341.0,1014.0,345.0,2.4667,INLAND
...,...,...,...,...,...,...,...,...,...
4123,-117.22,33.17,6.0,1487.0,362.0,810.0,322.0,3.6250,<1H OCEAN
4124,-117.40,34.58,18.0,755.0,169.0,483.0,165.0,1.4196,INLAND
4125,-118.04,33.78,25.0,3715.0,575.0,1640.0,572.0,5.7705,<1H OCEAN
4126,-118.46,34.00,52.0,888.0,206.0,376.0,194.0,3.8750,<1H OCEAN
4127,-121.88,39.74,12.0,14631.0,3298.0,7517.0,3262.0,1.6785,INLAND

In [132]:
test_Y = df_test["median_house_value"].copy()
test_Y

0       232400.0
1       168100.0
2       479000.0
3        59000.0
4       106000.0
          ...
4123    135700.0
4124     64700.0
4125    247100.0
4126    372000.0
4127    153100.0
Name: median_house_value, Length: 4128, dtype: float64

In [133]:
df_train.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
14442,False,False,False,False,False,False,False,False,False,False
14443,False,False,False,False,False,False,False,False,False,False
14444,False,False,False,False,False,False,False,False,False,False
14445,False,False,False,False,False,False,False,False,False,False
14446,False,False,False,False,False,False,False,False,False,False

In [134]:
train_X.isnull().any(axis = 1)

0        False
1        False
2        False
3        False
4        False
         ...
14442    False
14443    False
14444    False
14445    False
14446    False
Length: 14447, dtype: bool

In [135]:
train_X[train_X.isnull().any(axis = 1)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
41,-124.00,40.92,29.0,1429.0,NaN,672.0,266.0,2.9485,<1H OCEAN
204,-120.97,37.43,27.0,1380.0,NaN,810.0,262.0,2.1875,INLAND
403,-118.27,34.07,27.0,1190.0,NaN,1795.0,422.0,1.7016,<1H OCEAN
413,-119.45,36.61,24.0,1302.0,NaN,693.0,243.0,3.7917,INLAND
586,-121.30,38.58,16.0,1537.0,NaN,1125.0,375.0,2.6471,INLAND
...,...,...,...,...,...,...,...,...,...
13865,-121.75,37.11,18.0,3167.0,NaN,1414.0,482.0,6.8773,<1H OCEAN
13918,-118.10,33.74,32.0,2035.0,NaN,934.0,512.0,4.2287,NEAR OCEAN
14004,-122.08,37.37,29.0,1229.0,NaN,707.0,194.0,7.1108,NEAR BAY
14168,-119.38,36.53,38.0,1281.0,NaN,1423.0,293.0,1.9602,INLAND
14371,-117.91,33.87,29.0,1121.0,NaN,762.0,276.0,2.5000,<1H OCEAN

In [136]:
train_X.isnull().sum(axis = 0)

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        160
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

# Xử lý các cột bị khuyết dữ liệu

In [137]:
# sử dụng SimpleImputer
idex_null = train_X["total_bedrooms"].isnull()
imputer_mean = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer_mean.fit(train_X["total_bedrooms"].values.reshape(-1, 1))
train_X["total_bedrooms"] = imputer_mean.transform(train_X['total_bedrooms'].values.reshape(-1, 1))

In [138]:
print(train_X["total_bedrooms"][idex_null == True])

41       538.66578
204      538.66578
403      538.66578
413      538.66578
586      538.66578
           ...
13865    538.66578
13918    538.66578
14004    538.66578
14168    538.66578
14371    538.66578
Name: total_bedrooms, Length: 160, dtype: float64

In [139]:
test_X.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
4123,False,False,False,False,False,False,False,False,False
4124,False,False,False,False,False,False,False,False,False
4125,False,False,False,False,False,False,False,False,False
4126,False,False,False,False,False,False,False,False,False
4127,False,False,False,False,False,False,False,False,False

In [140]:
test_X.isnull().sum(axis = 0)

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        30
population             0
households             0
median_income          0
ocean_proximity        0
dtype: int64

In [141]:
test_X[test_X.isnull().any(axis = 1)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
440,-118.12,34.08,35.0,2248.0,NaN,1762.0,622.0,3.0000,<1H OCEAN
725,-121.77,39.66,20.0,3759.0,NaN,1705.0,600.0,4.7120,INLAND
815,-118.31,34.09,37.0,773.0,NaN,835.0,312.0,1.8576,<1H OCEAN
849,-118.59,34.20,21.0,1789.0,NaN,2300.0,677.0,2.7540,<1H OCEAN
860,-119.46,35.14,30.0,2943.0,NaN,1565.0,584.0,2.5313,INLAND
920,-122.70,38.35,14.0,2313.0,NaN,954.0,397.0,3.7813,<1H OCEAN
1116,-118.02,33.89,36.0,1375.0,NaN,670.0,221.0,5.0839,<1H OCEAN
1124,-117.66,33.51,18.0,2626.0,NaN,1302.0,522.0,4.0167,<1H OCEAN
1453,-118.45,34.30,27.0,2676.0,NaN,2661.0,623.0,4.3047,<1H OCEAN
1480,-122.65,38.25,23.0,4030.0,NaN,1852.0,778.0,3.4020,<1H OCEAN
1618,-117.20,32.79,29.0,1213.0,NaN,654.0,246.0,4.5987,NEAR OCEAN
1622,-118.05,33.99,38.0,1619.0,NaN,886.0,357.0,3.7328,<1H OCEAN
1668,-118.40,34.17,24.0,6347.0,NaN,2945.0,1492.0,3.3545,<1H OCEAN
1692,-118.27,34.17,52.0,2010.0,NaN,908.0,326.0,6.9135,<1H OCEAN
1696,-118.38,34.05,49.0,702.0,NaN,458.0,187.0,4.8958,<1H OCEAN
1793,-116.91,32.83,16.0,5203.0,NaN,2515.0,862.0,4.1050,<1H OCEAN
1801,-120.32,37.29,38.0,576.0,NaN,478.0,112.0,2.3382,INLAND
1845,-118.50,34.46,17.0,10267.0,NaN,4956.0,1483.0,5.5061,<1H OCEAN
1967,-118.35,33.90,31.0,1547.0,NaN,956.0,287.0,3.4698,<1H OCEAN
2127,-120.93,37.73,14.0,2799.0,NaN,2294.0,596.0,2.6343,INLAND
2190,-118.80,34.41,45.0,1610.0,NaN,1148.0,347.0,2.7000,<1H OCEAN
2369,-117.05,32.75,36.0,2024.0,NaN,1030.0,390.0,3.8233,NEAR OCEAN
2795,-119.73,36.83,8.0,3602.0,NaN,1959.0,580.0,5.3478,INLAND
2939,-119.72,36.76,23.0,6403.0,NaN,3573.0,1260.0,2.3006,INLAND
3057,-118.55,34.28,16.0,8879.0,NaN,3468.0,1200.0,8.1125,<1H OCEAN
3065,-117.65,34.04,15.0,3393.0,NaN,2039.0,611.0,3.9336,INLAND
3068,-122.10,40.03,25.0,2516.0,NaN,1266.0,494.0,1.7566,INLAND
3278,-117.02,32.78,31.0,2567.0,NaN,1198.0,499.0,3.4659,<1H OCEAN
3797,-118.22,34.05,34.0,1113.0,NaN,928.0,290.0,3.1654,<1H OCEAN
4019,-118.50,34.17,37.0,880.0,NaN,369.0,155.0,4.1429,<1H OCEAN

In [142]:
index_null = test_X["total_bedrooms"].isnull()
imputer_mean = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer_mean.fit(test_X["total_bedrooms"].values.reshape(-1, 1))
test_X["total_bedrooms"] = imputer_mean.transform(test_X["total_bedrooms"].values.reshape(-1, 1))

In [143]:
test_X.isnull().sum(axis = 0)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
dtype: int64

In [144]:
print(test_X["total_bedrooms"][index_null == True])

440     532.368716
725     532.368716
815     532.368716
849     532.368716
860     532.368716
920     532.368716
1116    532.368716
1124    532.368716
1453    532.368716
1480    532.368716
1618    532.368716
1622    532.368716
1668    532.368716
1692    532.368716
1696    532.368716
1793    532.368716
1801    532.368716
1845    532.368716
1967    532.368716
2127    532.368716
2190    532.368716
2369    532.368716
2795    532.368716
2939    532.368716
3057    532.368716
3065    532.368716
3068    532.368716
3278    532.368716
3797    532.368716
4019    532.368716
Name: total_bedrooms, dtype: float64

In [145]:
test_X[index_null]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
440,-118.12,34.08,35.0,2248.0,532.368716,1762.0,622.0,3.0000,<1H OCEAN
725,-121.77,39.66,20.0,3759.0,532.368716,1705.0,600.0,4.7120,INLAND
815,-118.31,34.09,37.0,773.0,532.368716,835.0,312.0,1.8576,<1H OCEAN
849,-118.59,34.20,21.0,1789.0,532.368716,2300.0,677.0,2.7540,<1H OCEAN
860,-119.46,35.14,30.0,2943.0,532.368716,1565.0,584.0,2.5313,INLAND
920,-122.70,38.35,14.0,2313.0,532.368716,954.0,397.0,3.7813,<1H OCEAN
1116,-118.02,33.89,36.0,1375.0,532.368716,670.0,221.0,5.0839,<1H OCEAN
1124,-117.66,33.51,18.0,2626.0,532.368716,1302.0,522.0,4.0167,<1H OCEAN
1453,-118.45,34.30,27.0,2676.0,532.368716,2661.0,623.0,4.3047,<1H OCEAN
1480,-122.65,38.25,23.0,4030.0,532.368716,1852.0,778.0,3.4020,<1H OCEAN
1618,-117.20,32.79,29.0,1213.0,532.368716,654.0,246.0,4.5987,NEAR OCEAN
1622,-118.05,33.99,38.0,1619.0,532.368716,886.0,357.0,3.7328,<1H OCEAN
1668,-118.40,34.17,24.0,6347.0,532.368716,2945.0,1492.0,3.3545,<1H OCEAN
1692,-118.27,34.17,52.0,2010.0,532.368716,908.0,326.0,6.9135,<1H OCEAN
1696,-118.38,34.05,49.0,702.0,532.368716,458.0,187.0,4.8958,<1H OCEAN
1793,-116.91,32.83,16.0,5203.0,532.368716,2515.0,862.0,4.1050,<1H OCEAN
1801,-120.32,37.29,38.0,576.0,532.368716,478.0,112.0,2.3382,INLAND
1845,-118.50,34.46,17.0,10267.0,532.368716,4956.0,1483.0,5.5061,<1H OCEAN
1967,-118.35,33.90,31.0,1547.0,532.368716,956.0,287.0,3.4698,<1H OCEAN
2127,-120.93,37.73,14.0,2799.0,532.368716,2294.0,596.0,2.6343,INLAND
2190,-118.80,34.41,45.0,1610.0,532.368716,1148.0,347.0,2.7000,<1H OCEAN
2369,-117.05,32.75,36.0,2024.0,532.368716,1030.0,390.0,3.8233,NEAR OCEAN
2795,-119.73,36.83,8.0,3602.0,532.368716,1959.0,580.0,5.3478,INLAND
2939,-119.72,36.76,23.0,6403.0,532.368716,3573.0,1260.0,2.3006,INLAND
3057,-118.55,34.28,16.0,8879.0,532.368716,3468.0,1200.0,8.1125,<1H OCEAN
3065,-117.65,34.04,15.0,3393.0,532.368716,2039.0,611.0,3.9336,INLAND
3068,-122.10,40.03,25.0,2516.0,532.368716,1266.0,494.0,1.7566,INLAND
3278,-117.02,32.78,31.0,2567.0,532.368716,1198.0,499.0,3.4659,<1H OCEAN
3797,-118.22,34.05,34.0,1113.0,532.368716,928.0,290.0,3.1654,<1H OCEAN
4019,-118.50,34.17,37.0,880.0,532.368716,369.0,155.0,4.1429,<1H OCEAN

In [146]:
dev_X.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2060,False,False,False,False,False,False,False,False,False
2061,False,False,False,False,False,False,False,False,False
2062,False,False,False,False,False,False,False,False,False
2063,False,False,False,False,False,False,False,False,False
2064,False,False,False,False,False,False,False,False,False

In [147]:
dev_X.isnull().sum(axis = 0)

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        17
population             0
households             0
median_income          0
ocean_proximity        0
dtype: int64

In [148]:
dev_X[dev_X.isnull().any(axis = 1)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
91,-122.48,37.70,33.0,4492.0,NaN,3477.0,1537.0,3.0546,NEAR OCEAN
234,-122.38,37.73,40.0,543.0,NaN,259.0,89.0,2.2167,NEAR BAY
264,-118.16,34.01,40.0,1552.0,NaN,1919.0,427.0,2.2596,<1H OCEAN
365,-119.30,36.57,32.0,728.0,NaN,461.0,149.0,3.0156,INLAND
405,-117.64,33.45,26.0,1528.0,NaN,607.0,218.0,6.2871,NEAR OCEAN
734,-117.09,32.77,31.0,3062.0,NaN,1263.0,539.0,3.0875,NEAR OCEAN
830,-118.25,33.94,43.0,793.0,NaN,736.0,231.0,0.8527,<1H OCEAN
868,-118.18,34.19,48.0,1371.0,NaN,528.0,155.0,15.0001,<1H OCEAN
1246,-119.78,36.82,25.0,5016.0,NaN,2133.0,928.0,3.6250,INLAND
1290,-122.01,37.94,23.0,3741.0,NaN,1339.0,499.0,6.7061,NEAR BAY
1301,-117.87,33.83,27.0,2287.0,NaN,1140.0,351.0,5.6163,<1H OCEAN
1618,-117.30,34.05,6.0,2155.0,NaN,1039.0,391.0,1.6675,INLAND
1845,-118.09,33.89,42.0,991.0,NaN,717.0,219.0,4.0926,<1H OCEAN
1904,-117.98,33.73,18.0,3833.0,NaN,2192.0,996.0,3.4679,<1H OCEAN
1905,-120.61,37.36,16.0,638.0,NaN,380.0,132.0,1.9135,INLAND
1954,-117.97,34.06,31.0,2516.0,NaN,2194.0,497.0,3.2413,<1H OCEAN
2013,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,<1H OCEAN

In [149]:
index_null = dev_X["total_bedrooms"].isnull()
imputer_mean = SimpleImputer()
imputer_mean.fit(dev_X["total_bedrooms"].values.reshape(-1,1))
dev_X["total_bedrooms"] = imputer_mean.transform(dev_X["total_bedrooms"].values.reshape(-1, 1))

In [150]:
print(dev_X["total_bedrooms"][index_null == True])

91      543.332031
234     543.332031
264     543.332031
365     543.332031
405     543.332031
734     543.332031
830     543.332031
868     543.332031
1246    543.332031
1290    543.332031
1301    543.332031
1618    543.332031
1845    543.332031
1904    543.332031
1905    543.332031
1954    543.332031
2013    543.332031
Name: total_bedrooms, dtype: float64

In [151]:
dev_X[index_null]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
91,-122.48,37.70,33.0,4492.0,543.332031,3477.0,1537.0,3.0546,NEAR OCEAN
234,-122.38,37.73,40.0,543.0,543.332031,259.0,89.0,2.2167,NEAR BAY
264,-118.16,34.01,40.0,1552.0,543.332031,1919.0,427.0,2.2596,<1H OCEAN
365,-119.30,36.57,32.0,728.0,543.332031,461.0,149.0,3.0156,INLAND
405,-117.64,33.45,26.0,1528.0,543.332031,607.0,218.0,6.2871,NEAR OCEAN
734,-117.09,32.77,31.0,3062.0,543.332031,1263.0,539.0,3.0875,NEAR OCEAN
830,-118.25,33.94,43.0,793.0,543.332031,736.0,231.0,0.8527,<1H OCEAN
868,-118.18,34.19,48.0,1371.0,543.332031,528.0,155.0,15.0001,<1H OCEAN
1246,-119.78,36.82,25.0,5016.0,543.332031,2133.0,928.0,3.6250,INLAND
1290,-122.01,37.94,23.0,3741.0,543.332031,1339.0,499.0,6.7061,NEAR BAY
1301,-117.87,33.83,27.0,2287.0,543.332031,1140.0,351.0,5.6163,<1H OCEAN
1618,-117.30,34.05,6.0,2155.0,543.332031,1039.0,391.0,1.6675,INLAND
1845,-118.09,33.89,42.0,991.0,543.332031,717.0,219.0,4.0926,<1H OCEAN
1904,-117.98,33.73,18.0,3833.0,543.332031,2192.0,996.0,3.4679,<1H OCEAN
1905,-120.61,37.36,16.0,638.0,543.332031,380.0,132.0,1.9135,INLAND
1954,-117.97,34.06,31.0,2516.0,543.332031,2194.0,497.0,3.2413,<1H OCEAN
2013,-118.72,34.28,17.0,3051.0,543.332031,1705.0,495.0,5.7376,<1H OCEAN